/* iPhone 13 Pro */

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    size-adjust: inherit;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    size-adjust: inherit;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  #examples {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .projectinfo {
    font-size: 0.7rem;
    line-break: auto;
  }
  .projects {
    width: fit-content;
  }
  .ripple {
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: fit-content;
  }

  #about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: fit-content;
  }
}

/* iPhone 12/13 */

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    size-adjust: inherit;
    width: fit-content;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    size-adjust: inherit;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }
  #examples {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .projectinfo {
    font-size: 0.7rem;
    line-break: auto;
  }
  .projects {
    width: fit-content;
  }
  .ripple {
    width: 100%;
  }
}

/* Older iPhones */

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    size-adjust: inherit;
    width: fit-content;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    size-adjust: inherit;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }
  #examples {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .projectinfo {
    font-size: 0.6rem;
    line-break: auto;
  }
  .projects {
    width: fit-content;
  }
  .ripple {
    width: 100%;
  }
}

/* Samsung */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    size-adjust: inherit;
    width: fit-content;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    size-adjust: inherit;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }
  #examples {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .projectinfo {
    font-size: 0.6rem;
    line-break: auto;
  }
  .projects {
    width: fit-content;
  }
  .ripple {
    width: 100%;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    size-adjust: inherit;
    width: fit-content;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    size-adjust: inherit;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }
  #examples {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .projectinfo {
    font-size: 0.6rem;
    line-break: auto;
  }
  .projects {
    width: fit-content;
  }
  .ripple {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    size-adjust: inherit;
    width: fit-content;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    size-adjust: inherit;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }
  #examples {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
    width: fit-content;
  }

  .projectinfo {
    font-size: 0.6rem;
    line-break: auto;
  }
  .projects {
    width: fit-content;
  }
  .ripple {
    width: 100%;
  }
}


/* tablet */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      size-adjust: inherit;
      width: fit-content;
    }
    .container2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      size-adjust: inherit;
      width: auto;
      height: auto;
      flex-direction: column;
      margin-bottom: -1px;
      width: fit-content;
    }
    #examples {
      display: flex;
      flex-direction: column;
      margin-bottom: -1px;
      width: fit-content;
    }
  
    .project1 {
      display: flex;
      flex-direction: column;
      margin-bottom: -1px;
      width: fit-content;
    }
  
    .projectinfo {
      font-size: 0.6rem;
      line-break: auto;
    }
    .projects {
      width: fit-content;
    }
    .ripple {
      width: 100%;
    }

}