/* Main Style Sheet */

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

/* Header name/image */

#header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.name {
  font-family: monospace;
  font-size: 4rem;
  color: whitesmoke;
  text-align: center;
  padding-top: 5rem;
  text-shadow: 5px 5px rgb(56, 56, 56);
}

.profile {
  height: 12rem;
  width: auto;
  position: absolute;
  top: 10rem;
  border-radius: 200px;
  opacity: 90%;
  padding: 5px;
  border-width: 2px;
  border-color: white;
  border-style: dotted;
}

/* Links to socials and contact */

#socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15rem;
  justify-content: center;
}

.icon {
  width: 2rem;
  height: auto;
  padding: 1rem;
  border-style: none;
  opacity: 1;
}

/* About section */

.info {
  border-radius: 30px;
  width: 50rem;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(66, 66, 66, 0.4);
  
}

#about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: beige;
  font-family: monospace;
  font-size: 15px;
  padding: 1rem;
  position: relative;
  width: fit-content;
}

/* Footer/navigation */

.navigation {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  }

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  }

/* Examples of applications */

#examples {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  scroll-margin-block-start: 0px;
  border-radius: 30px;
}

.project1 {
  background: rgba(0, 0, 0, 0.3);
  width: 60rem;
  height: auto;
  border-color: rgb(66, 66, 66, 0.4);
  border-style: solid;
  border-width: 1px;
  padding: 0.4rem;
  margin: 0.4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  border-radius: 30px;
}

.projectinfo {
  border-radius: 30px;
  font-family: monospace;
  font-size: 0.9rem;
  color: rgb(200, 193, 173);
  background: rgba(0, 0, 0, 0.3);
  border-color: rgb(66, 66, 66, 0.4);
  border-style: solid;
  border-width: 1px;
  
  padding: 1rem;
}

.projects {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  width: 29rem;
  height: auto;
  border-color: rgb(66, 66, 66, 0.4);
  border-style: solid;
  border-width: 1px;
  padding: 0.4rem;
  margin: 0.4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  opacity: 90%;
}

.ripple {
  opacity: 80%;
  width: 400px;
  height: 300px;
  padding: 50px;
}
.example {
  opacity: 80%;
  width: 200px;
  padding: 10px;
}
.btn {
 margin: 1rem;
 width: 20rem;
 background-color: rgba(0, 0, 0, 0.6);
 border-color: rgb(66, 66, 66, 0.4);
 border-style: solid;
 font-family: monospace;
 font-size: 1rem;
 color: rgb(255, 255, 255);
 height: 3rem;
 border-radius: 50px;
}
.btn:hover {
  cursor: pointer;
  color: beige;
  }

#work2 { animation: fadeIn 2s; }
/* Footer */

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: beige;
  font-family: monospace;
  font-size: 15px;
  padding: 1rem;
  position: relative;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.border {
  border-radius: 30px;
}
.link {
  border-radius: 50px;
  padding: 1rem;
}

.i1 { animation: fadeIn 2s; }
.i2 { animation: fadeIn 3s; }
.i3 { animation: fadeIn 4s; }
.i4 { animation: fadeIn 5s; }

